.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
.idea/
.project
.settings/
.slcache/
.svn/
.gradle/
build/
tmp/
classes/
Servers/
logs/
stacktrace.log
target-eclipse/
target/
*.iml
TempWmicBatchFile.bat
